body {
    background-color: #dfdede;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: Tahoma,Verdana, Geneva, sans-serif;
}

.colecao-botoes .botao {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 2px solid black;
    font-weight: bolder;
}

.botao#cor-1 {
    background-color: #d94e33;
}

.botao#cor-2 {
    background-color: #2c5697;
}

.botao#cor-3 {
    background-color: #ed9b33;
}

.botao#cor-4 {
    background-color: #8a9b8e;
}

.botao#cor-5 {
    background-color: #dde5ed;
}